[submodule "external/llama.cpp"]
	path = external/llama.cpp
	url = https://github.com/ggerganov/llama.cpp.git
[submodule "external/faiss"]
	path = external/faiss
	url = https://github.com/facebookresearch/faiss.git
